<h2>Log in here</h2>

<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username"><br>
  <label for="grade_level">Grade Level</label>
  <input type="text" name="grade_level" id="grade_level"><br>

  <input type="submit" name="submit">
</form>
