<h2>Your courses - <%= current_user.username unless current_user.blank? %></h2>



<% @courses.each do |course| %>
  <p><%= course.name %> - <%= course.semester %> semester </br>
  - <a href="/courses/<% course.id %>/edit">Edit Course</a>
  - <a href="/courses/<% course.id %>/delete">Delete</a>
  </p>

<% end %>
