<h1>Add a course</h1>

<form action="/courses" method="post">
  <label>Course Name:</label>
  <input type="text" name="name"><br>

  <label>Semester:</label>
  <input type="text" name="semester" value="">
</form>
