
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reading Program</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <a href="/courses/new">Register New Course</a><br>
        <a href="/logout">Log Out</a>
        <p>Welcome, <%= current_user.username %></p>
      <% else %>
        <a href="/users/signup">Sign Up</a>
        <a href="/users/login">Log In</a>
      <% end %>
    </nav>
    <div>
      <h2>Reading Program - Student Dashboard</h2>
      <%= yield %>
    </div>

  </body>
</html>
